{% extends '/back/base.html.twig' %}
{%block head %}
    <title>MyFirstBlog | Accueil</title>
{% endblock %}
{% block titleJumboTron %}
    Modifier un article
{% endblock %}
{%block content %}
    <div class="container-fluid">
        <form name="update" id="formUp" action="{{ LinkBuilder.getLink('PostAdminUpdate', {article_id: post.idPost}) }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header bg-dark text-light">
                            Article
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title_article">Titre de l'article:</label>
                                <input type="hidden" class="form-control" id="title_article" name="id_post" value="{{ post.idPost }}" required>
                                <input type="text" class="form-control" id="title_article" name="title" value="{{ post.title }}" required>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="chapo">Petite déscription</label>
                                <textarea class="form-control" id="chapo" name="short_text" rows="2" required>{{ post.shortText }}</textarea>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="content">Contenu de l'article</label>
                                <textarea class="form-control" id="content" name="content" rows="10" required>{{ post.content }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header text-center bg-dark text-light">
                            Actions
                        </div>
                        <div class="card-body">
                            <h5>Visibilité:</h5>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="id_statut_post" value="2"{% if post.idStatutPost == 2 %} checked {% endif %}>
                                    Brouillon
                                </label>

                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="id_statut_post" value="1"{% if post.idStatutPost == 1 %} checked {% endif %}>
                                    En Ligne
                                </label>

                            </div>
                            <hr>
                            <input type="hidden" name="myToken" value="{{ myToken }}">
                            <input type="submit" class="btn btn-outline-success btn-block" value="Enregistrer">

                            <hr>
                            <h5>Image:</h5>
                            <div class="custom-file">
                                <label for="file"></label>
                                <input type="file" id="file" name="file">
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                            <hr>
                            <h5>Infos:</h5>
                            <ul>
                                <li>Ajouté le {{ post.created|date('d-m-Y à H:i') }}</li>
                                <li>Modifié le {{ post.modified|date('d-m-Y à H:i') }}</li>

                                <li>Auteur: {{ post.firstName }} {{ post.lastName }}</li>
                            </ul>
                            <hr>
                            <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#suppPostModal">
                                Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- MODAL SUPP POST -->
    <div class="modal fade" id="suppPostModal" tabindex="-1" role="dialog" aria-labelledby="suppPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression de l'article #{{ post.idPost }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    Attention ! Vous allez supprimer cet article. Cette action est irreversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Annuler</button>
                    <form name="delete" id="formDelete" action="{{ LinkBuilder.getLink('PostAdminDelete') }}" method="POST">
                        <input type="hidden" name="id_post" value="{{ post.idPost }}">
                        <input type="hidden" name="myToken" value="{{ myToken }}">
                        <input type="submit" class="btn btn-outline-danger" value="Continuer">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}