<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ publicFolder }}/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ publicFolder }}/css/style_admin.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
<body>
{% include 'back/nav.html.twig' %}
<div class="jumbotron headerIndex">
    <div class="container">
        <h1 class="display-4">{% block titleJumboTron %}{% endblock %}</h1>
    </div>
</div>

{% for success in Flash.get('success') %}
    <div class="alert alert-success" role="alert">
        <strong>Félicitation !</strong> {{ success }}.
    </div>
{% endfor %}
{% for warning in Flash.get('warning') %}
    <div class="alert alert-danger" role="alert">
        <strong>Attention !</strong> {{ warning }}.
    </div>
{% endfor %}
{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{ publicFolder }}/bootstrap/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>