{% extends '/back/base.html.twig' %}
{%block head %}
    <title>MyFirstBlog | Valider un commentaire</title>
{% endblock %}
{% block titleJumboTron %}
    Valider un commentaire
{% endblock %}
{%block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Commentaire de {{ comment.FirstName }} {{ comment.lastName }} pour l'article :
                <small><i><a href="{{ LinkBuilder.getLink("PostRead", {id_article: comment.idPost}) }}" target="_blank" >{{ comment.postTitle }}</a></i></small></h5>
            <hr>
            <p>
                {{ comment.content|nl2br }}
            </p>
            <hr>
            <p class="text-right"><i>posté le {{ comment.created }}</i></p>
        </div>
        <div class="col-12">
            <form action="{{ LinkBuilder.getLink('CommentAdminValidate', {id_comment: comment.idComment}) }}" method="POST">
            <p class="text-right">
                <input  type="hidden" value="{{ myToken }}" name="myToken">
                <button type="submit" class="btn btn-outline-danger" id="deleteButtonComm" name="delete" value="1">Supprimer</button>
                <button type="submit" class="btn btn-outline-success" name="validate" value="1">Valider</button>
            </p>
            </form>
        </div>
    </div>
</div>
    {% block script %}
        <script src="{{ publicFolder }}/js/script.js"></script>
    {% endblock %}
{% endblock %}